{% extends 'Proyectowebapp/base.html' %}
{% load static %}

{% block content %}
    {% for combo in combos %}
        <div>
            <h2 style="color:white">{{ combo.nombre }}</h2>
            <ul style="color:white">
                {% for componente in combo.componentes.all %}
                    <li>{{ componente.nombre }} - Precio: {{ componente.precio }}</li>
                {% endfor %}
            </ul>
            <p style="color:white">Precio Total del Combo: {{ combo.calcular_precio_total }}</p>
            <p><img scr='{{combo.imagen.url}}'></p>
        </div>
    {% endfor %}
{% endblock %}
