{% for combo in combos %}
    <div class="col-md-4">
        <div class="card" id="combo{{ combo.id }}" style="width: 100%;">
            {% if combo.imagen %}
                <img class="combo-image" src="{{ combo.imagen.url }}">
            {% endif %}
            <div class="card-body" style="text-align: center;">
                <h7 class="card-title">{{combo.nombre}}</h7>
                <div class="componentes" style="display: none;">
                    <p class='card-text'>
                        {% for componente in combo.componentes.all %}
                            <li>{{componente.nombre}} - Precio: {{componente.precio}}</li>
                        {% endfor %}
                    </p>
                </div>
                <p class="card-text">Precio total: {{combo.calcular_precio_total}}&nbsp;€</p>
            </div>
        </div>
    </div>
{% endfor %}
